
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #C0C0C0; 
  background-color: #1A1A1A; 
}

header {
  background: #242424; 
  color: #A4C639; 
  padding: 20px 0;
  border-bottom: 5px solid #A4C639; 
}

header h1 {
  text-align: center;
  font-size: 2rem;
}

section {
  padding: 20px;
  margin: 20px 0;
  
}


h2 {
  border-bottom: 2px solid #A4C639; 
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.testimonial-item, .portfolio-item {
  background: #242424; 
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
  transition: transform 0.2s ease-in-out;
}

.testimonial-item:hover, .portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

.portfolio-item-right {
  flex-direction: row-reverse;
}

.portfolio-content {
  max-width: 45%;
}

a {
  color: #A4C639; 
  text-decoration: none;
}

a:hover {
  color: #FFFFFF; 
}

i {
  margin-right: 10px;
  color: #A4C639; 
}

.sidebar {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  padding: 100px 10px;
  overflow-x: hidden;
}

.sidebar a {
  padding: 15px 10px;
  text-decoration: none;
  font-size: 24px;
  color: #C0C0C0; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar a:hover {
  color: #FFFFFF;
  transform: scale(1.2);
}

.portfolio-item {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
}

.portfolio-item:nth-child(even) {
  transform: translateX(100%);
}

.portfolio-item.active {
  opacity: 1;
  transform: translateX(0);
}

.main-content {
  padding: 0 5%; 
}

.portfolio-item:nth-child(even) {
  transform: translateX(100%); 
}

.portfolio-item:nth-child(even).active {
  opacity: 1;
  transform: translateX(0); 
}


.portfolio-item:nth-child(even) .portfolio-content {
  order: 1;
}

.portfolio-item:nth-child(even) img {
  order: -1;
}

.portfolio-item {
  opacity: 0;
  transform: translateX(-50%); 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, transform;
}


.portfolio-item:nth-child(odd) {
  transform: translateX(-100%);
}


.portfolio-item:nth-child(even) {
  transform: translateX(100%);
}


.portfolio-item.active {
  opacity: 1;
  transform: translateX(0);
}


.portfolio-item-right {
  flex-direction: row-reverse; 
}

.portfolio-item-right img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

.portfolio-item-right .portfolio-content {
  max-width: 45%;
  text-align: left;
}



.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.portfolio-item img, .portfolio-item .portfolio-content {
  flex-basis: 50%;
}


.portfolio-item:nth-child(odd) {
  transform: translateX(-100%);
}


.portfolio-item:nth-child(even) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}


.portfolio-item.active {
  opacity: 1;
  transform: translateX(0);
}


.portfolio-item {
  margin-bottom: 40px; 
}

.testimonials-container {
  display: flex;
  align-items: center;
}

.testimonial-text, .testimonial-image {
  flex-basis: 48%; 
}

.testimonial-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.testimonials-container {
  display: flex;
  align-items: flex-start; 
  padding: 20px;
}

.testimonial-text, .testimonial-image {
  flex: 1; 
}

.testimonial-image img {
  width: 70%;
  height: auto;
  margin: 5% 0 0 5%;
  border-radius: 10px; 
}

@media (max-width: 730px) {
  .centratura{
    padding: 0 5.5% 0 5.5%;
  }
}

@media (max-width: 670px) {
  .centratura{
    padding: 0 6% 0 6%;
  }
}

@media (max-width: 625px) {
  .centratura{
    padding: 0 7% 0 7%;
  }
}

@media (max-width: 570px) {
  .centratura{
    padding: 0 7.5% 0 7.5%;
  }
}

@media (max-width: 515px) {
  .centratura{
    padding: 0 8% 0 8%;
  }
}

@media (max-width: 470px) {
  .centratura{
    padding: 0 9% 0 9%;
  }
}
@media (max-width: 450px) {
  .centratura{
    padding: 0 9.5% 0 9.5%;
  }
}

@media (max-width: 430px) {
  .centratura{
    padding: 0 10% 0 10%;
  }
}

@media (max-width: 430px) {
  .centratura{
    padding: 0 11% 0 11%;
  }
}

@media (max-width: 768px) {
  .testimonials-container {
    flex-direction: column;
  }

  .testimonial-image {
    margin-right: 0;
    margin-bottom: 20px; 
  }

  .testimonial-text, .testimonial-image {
    flex: none; 
  }
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.tech-icon {
  width: 64px; 
  height: auto; 
  margin: 10px; 
  vertical-align: middle; 
}


@media (max-width: 768px) {
  .tech-icon {
      width: 50px; 
      margin: 5px; 
  }
}

#gallery {
  padding: 20px;
  text-align: center; 
}

.photo {
  width: 50%; 
  margin: 20px auto;
  display: block; 
}

.photo.left {
  float: left; 
  clear: both; 
}

.photo.right {
  float: right; 
  clear: both; 
}


.photo-container::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 768px) {
  .photo {
      width: 100%;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
    text-shadow: none;
  }
  20% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
    text-shadow: -2px 0 red;
  }
  40% {
    transform: translate(2px, -2px);
    opacity: 0.8;
    text-shadow: 2px 0 blue;
  }
  60% {
    transform: translate(-2px, 2px);
    opacity: 0.9;
    text-shadow: -2px 0 red;
  }
  80% {
    transform: translate(2px, -2px);
    opacity: 0.9;
    text-shadow: 2px 0 blue;
  }
  100% {
    transform: translate(0);
    opacity: 1;
    text-shadow: none;
  }
}

h1, .sidebar a {
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

h1:hover, .sidebar a:hover {
  animation: glitch 0.5s infinite alternate-reverse;
}

.sidebar a {
  display: block; 
  margin:  0; 
}

#foto-profilo{
  max-height: 100vh;
  max-width: 100%; 
  width: auto; 
}

#foto-profilo {
  width: 350px;
  border-radius: 10px;
  margin-right: 20px; 
  margin-bottom: 10px;
  float: left; 
}


.testimonial-text {
  padding: 20px;
}


@media (min-width: 573px) and (max-width: 725px) {
  #foto-profilo {
      width: 100%; 
      float: none; 
      display: block; 
      margin-right: 0; 
      margin-bottom: 20px; 
  }

  .testimonial-text {
      text-align: center; 
  }
}

@media (max-width: 695px) {
  .testimonial-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #about,
  #contact{
    text-align: center;
  }

  #contact > h2,
  #portfolio > h2,
  #about > h2,
  #testimonials > div > div > h2 {
    text-align: left;
  }

  #foto-profilo {
    width: 80%; 
    float: none; 
    display: block; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 690px) {
  .testimonial-text{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 572px) {
  #foto-profilo {
      width: 100%; 
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
  }

  .testimonial-text {
      text-align: center;
  }
}

@media (min-width: 539px) and (max-width: 694px) {
  .foto-centrata{
    display: flex;
    justify-content: center;
  }
}

  a.p-right,
  a.p-left
  {
      display: inline-block; 
      background: #A4C639;    
      color: rgb(0, 0, 0);           
      padding: 10px;          
      border-radius: 5px;     
      margin: 10px 0;        
      text-decoration: none;  
  }

 
  .p-btn{
    display: inline-block; 
    background: #A4C639; 
    color: rgb(0, 0, 0);
    padding: 8px 13px; 
    border-radius: 5px; 
    margin-right: 0.5%;
  }

  a.p-right:hover,
  a.p-left:hover,
  .p-btn:hover {
      color: white;
      transform: scale(1.2);
      transition: transform 0.3s ease;
  }
 
  p.p-right,
  a.p-right{
    margin-left: 5%;
  }

  .marg{
    margin-left: 2%;
  }

  @media (max-width: 800px) {
    body{
      font-size: 12px;
    }

    .p-btn{
      padding: 5px 9px; 
      border-radius: 5px; 
    }
  
    a.p-right,
    a.p-left
    {        
        padding: 7px;         
        margin: 7px 0;      
    }
    

    .portfolio-item,
    #portfolio > div.portfolio-item.portfolio-item-right.active{
      display: flex;
      flex-direction: column;
    }

    .portfolio-content,
    #portfolio > div:nth-child(2) > div,
    #portfolio > div:nth-child(4) > div{
      max-width: 80%;
    }

    .portfolio-item img {
      width: 100%;  /* si assicura che l'immagine si adatti alla larghezza del contenitore */
      height: auto; /* mantiene l'altezza proporzionale alla nuova larghezza */
      max-height: 100%; /* impedisce all'immagine di diventare più alta del suo contenitore */
      object-fit: contain; /* mantiene le proporzioni dell'immagine, assicurando che sia completamente visibile */
    }
    

    @media (max-width: 800px) {
      #portfolio > div:nth-child(2) > img,
      #portfolio > div:nth-child(3) > img,
      #portfolio > div:nth-child(4) > img,
      #portfolio > div:nth-child(5) > img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
    
  }

  @media (min-width: 480px) and (max-width: 800px) {
    .primo-br{
      display: none;
    }

    p.p-right,
    a.p-right{
      margin-left: 0;
    }

  }